/* CheckoutProcess.css */

/* Global styles */
:root {
  --slogan-color: #4a3534; /* Slogan color */
  --font-color: #362120; /* Font color */
  --icon-gradient-0: #5A0E1D; /* Icon gradient color 0 */
  --icon-gradient-1: #B39984; /* Icon gradient color 1 */
  --background-color: #F2EDED; /* Background color */
}

.checkout-process {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color); /* Use provided background color */
  color: var(--font-color); /* Use provided font color */
}

.checkout-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border: 1px solid var(--font-color); /* Use font color for border */
  border-radius: 5px;
  cursor: pointer;
}

.step.active {
  background-color: var(--icon-gradient-0); /* Use icon gradient color 0 */
  color: #fff;
}

.checkout-form {
  margin-bottom: 20px;
}

.form {
  background-color: #f9f9f9; /* Lighter background color */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--slogan-color); /* Use provided slogan color */
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form input,
.form select {
  width: 48%; /* Adjust input and select width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navigation-buttons {
  text-align: right;
}

.navigation-buttons button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: var(--icon-gradient-0); /* Use icon gradient color 0 */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background-color: var(--icon-gradient-1); /* Use icon gradient color 1 */
}

.complete-button {
  background-color: #28a745; /* Adjust button color */
}

.complete-button:hover {
  background-color: #218838; /* Adjust hover color */
}
