/* Header.css */

/* Global styles */
:root {
  --slogan-color: #4a3534; /* Slogan color */
  --font-color: #362120; /* Font color */
  --icon-gradient-0: #5A0E1D; /* Icon gradient color 0 */
  --icon-gradient-1: #B39984; /* Icon gradient color 1 */
  --background-color: #F2EDED; /* Background color */
}

/* Header container */
.header {
  width: calc(100% - 2rem); /* Subtract the padding from the total width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color); /* Use provided background color */
}


/* Logo styles */
.logo img {
  width: 6.25rem; /* Adjust logo size as needed */
  margin-right: 0.625rem; /* Add margin for better alignment */
}

/* Navigation styles */
.navigation ul {
  list-style-type: none; /* Remove bullet points */
  display: flex; /* Make list items appear side by side */
  align-items: center; /* Vertically center items */
}

.navigation ul li {
  margin-right: 1.25rem; /* Add margin between list items */
}

.navigation ul li a {
  color: var(--font-color); /* Use provided font color */
  text-decoration: none; /* Remove default underline */
}

.navigation ul li a:hover {
  color: var(--slogan-color); /* Change link color on hover to match the slogan color */
}

/* Search form styles */
.search-form input[type="text"] {
  border: 1px solid var(--font-color); /* Use provided font color for border */
  padding: 0.5rem; /* Add padding */
  width: 10rem; /* Adjust input width */
}

.search-form button {
  background-color: var(--icon-gradient-0); /* Adjust button color as needed */
  color: var(--font-color); /* Use provided font color for button text */
  border: none;
  padding: 0.5rem 1rem; /* Add padding */
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--icon-gradient-1); /* Adjust button hover color as needed */
}

/* Cart link styles */
.navigation ul .cart-link {
  position: relative; /* Position relative for cart count badge */
}

.navigation ul .cart-link .cart-count {
  position: absolute; /* Position absolute for cart count badge */
  top: -1rem; /* Adjust top position to align with text */
  right: -1rem; /* Adjust right position to align with text */
  background-color: var(--icon-gradient-1); /* Adjust cart count badge color */
  color: var(--font-color); /* Use provided font color for cart count */
  font-size: 0.75rem; /* Adjust font size */
  padding: 0.25rem 0.5rem; /* Add padding */
  border-radius: 50%; /* Make badge round */
}


/* Popup form styles */
.popup-container {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust background color for the popup container */
}

.popup-form {
  background-color: var(--background-color); /* Use provided background color for popup form */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
