/* ShoppingCart.css */

/* Global styles */
:root {
  --slogan-color: #4a3534; /* Slogan color */
  --font-color: #362120; /* Font color */
  --icon-gradient-0: #5A0E1D; /* Icon gradient color 0 */
  --icon-gradient-1: #B39984; /* Icon gradient color 1 */
  --background-color: #F2EDED; /* Background color */
}

.shopping-cart {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the height of the viewport */
  background-color: var(--background-color); /* Use provided background color */
  color: var(--font-color); /* Use provided font color */
}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--slogan-color); /* Use provided slogan color */
}

.cart-item {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff; /* White background for cart items */
}

.item-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.item-details {
  flex: 1;
  padding: 20px;
}

.item-details h3 {
  margin: 0 0 10px;
}

.variation {
  font-style: italic;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

.quantity button {
  background-color: var(--icon-gradient-0); /* Use icon gradient color 0 */
  color: #fff;
}

.remove-item {
  background-color: #dc3545; /* Red for remove item button */
  color: #fff;
}

.remove-item:hover {
  background-color: #c82333;
}

.item-total {
  flex: 0 0 100px;
  text-align: center;
  align-self: center;
}

.summary {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.summary h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--slogan-color); /* Use provided slogan color */
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--icon-gradient-0); /* Use icon gradient color 0 */
  color: #fff;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: var(--icon-gradient-1); /* Use icon gradient color 1 */
}
